/* body */
body {
    font-family: 'Neue Haas Grotesk Display', 'Apple Gothic', 'MalgunGothic', 'Helvetica', sans-serif;
    font-weight: 100;
    color: #fff;
}

/* header */
header { position: fixed; min-width: 320px; left: 0; top: 0; width: 100%; height: 60px; z-index: 1000; background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */ }
header .logo { position: absolute; left: 50%; top: 18px; transform: translateX(-50%); width: 38px; height: 38px; background: url(../images/logo/logo.svg) no-repeat 50% 50%; background-size: 24px;}
header .logo a {display: block; width: 100%; height: 100%;}

header .icon_nav { position: absolute; left: 20px; top: 20px; width: 28px; height: 28px; cursor: pointer; transform:translateX(-100px); opacity: 0;}
header .icon_nav span { position: absolute; left: 0; top: 5px; width: 23px; height: 1px; background: #fff; }
header .icon_nav span:before { content: ''; display: block; width: 70%; height: 1px; margin-top: 8px; background: #fff; }
header .icon_nav span:after { content: ''; display: block; width: 100%; height: 1px; margin-top: 8px; background: #fff; }

header .dimm { position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 100; background: rgba(0, 0, 0, 0.5); display: none; }
header .dimm.on {display: block;}

header .gnb { position: fixed; left:0; top:0; bottom: 0; width: 260px; background: #fff; transform: translateX(-260px); transition: transform .25s cubic-bezier(.43, .01, .44, 1); z-index: 200; }
header .gnb.open {transform: translateX(0);}

header .gnb .top_gnb { padding: 20px; text-align: right; }
header .gnb .top_gnb .btn_close { width: 28px; height: 28px; border:none; background: url(../images/icon/btn_close.png) no-repeat 50% 50%; background-size: 15px; }
header .gnb .depth1 {padding: 20px;}
header .gnb .depth1>li {padding: 10px 0; border-top: 1px solid #c8cdd2;}
header .gnb .depth1>li:last-child {border-bottom: 1px solid #c8cdd2; }
header .gnb .depth1>li>a {display: block; font-size: 24px; color: #000; font-weight: 300;}

/* footer */
footer { background: #f5f5f7; color: #000; padding: 40px 20px 0; font-size: 14px; }

.f_gnb .depth1>li {border-top: 1px solid #d2d2d7; padding: 10px 0;}
.f_gnb .depth1>li:last-child {border-bottom: 1px solid #d2d2d7;}
.f_gnb .depth1>li>a {position: relative; display: block; font-size: 16px; font-weight: 300;}
.f_gnb .depth1>li>a:after { content: '+'; position: absolute; top: -2px; right: 20px; font-size: 18px; font-weight: 300; transition: transform 0.2s;}

.f_gnb .depth1>li>a.active:after {transform: rotateZ(45deg);}

.f_gnb .sub {height: 0; overflow: hidden;}
.f_gnb .sub .depth2 {padding: 15px;}
.f_gnb .sub .depth2>li {padding: 5px 0;}
.f_gnb .sub .depth2>li>a {display: block; font-size: 15px;}


footer .copy {margin-top: 30px; color: #868686; font-weight: 300;}
footer .link_wrap {display: inline-block; padding: 20px 0;}
footer .link_wrap>li>a {display: inline-block; color: #666; font-weight: 300; font-size: 14px;}
